<a href="https://colab.research.google.com/github/AdhamelGazar/disaster-sentiment-analysis/blob/main/sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Downloading the dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!mkdir data

In [3]:
!pwd

/content

In [4]:

%cd /content/data

/content/data

# Reading And Exploring The Dataset

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/data/train.csv')

In [7]:
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [8]:

df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

# Data Cleaning

In [9]:
df = df.drop(['location'],axis=1)

In [10]:
df

         id keyword                                               text  target
0         1     NaN  Our Deeds are the Reason of this #earthquake M...       1
1         4     NaN             Forest fire near La Ronge Sask. Canada       1
2         5     NaN  All residents asked to 'shelter in place' are ...       1
3         6     NaN  13,000 people receive #wildfires evacuation or...       1
4         7     NaN  Just got sent this photo from Ruby #Alaska as ...       1
...     ...     ...                                                ...     ...
7608  10869     NaN  Two giant cranes holding a bridge collapse int...       1
7609  10870     NaN  @aria_ahrary @TheTawniest The out of control w...       1
7610  10871     NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  10872     NaN  Police investigating after an e-bike collided ...       1
7612  10873     NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 4 columns]

In [11]:
df = df.drop(['id'],axis = 1)

In [12]:
df

     keyword                                               text  target
0        NaN  Our Deeds are the Reason of this #earthquake M...       1
1        NaN             Forest fire near La Ronge Sask. Canada       1
2        NaN  All residents asked to 'shelter in place' are ...       1
3        NaN  13,000 people receive #wildfires evacuation or...       1
4        NaN  Just got sent this photo from Ruby #Alaska as ...       1
...      ...                                                ...     ...
7608     NaN  Two giant cranes holding a bridge collapse int...       1
7609     NaN  @aria_ahrary @TheTawniest The out of control w...       1
7610     NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611     NaN  Police investigating after an e-bike collided ...       1
7612     NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

In [13]:
import string 
import re
import nltk
from nltk.stem import WordNetLemmatizer
import numpy as np

In [14]:
cln = re.compile('<.*?>')

In [15]:
def omit_tags(text):
  clntext = re.sub(cln, '', text)
  return clntext

def omit_punctuation(text):
  text = text.replace('"', "")
  text = text.replace("'", "")
  stop_char = string.punctuation
  no_punct="".join([i for i in text if i not in stop_char])
  return no_punct


df['text']= df['text'].apply(lambda x:omit_tags(x))
df['text']= df['text'].apply(lambda x:omit_punctuation(x))

In [16]:
df

     keyword                                               text  target
0        NaN  Our Deeds are the Reason of this earthquake Ma...       1
1        NaN              Forest fire near La Ronge Sask Canada       1
2        NaN  All residents asked to shelter in place are be...       1
3        NaN  13000 people receive wildfires evacuation orde...       1
4        NaN  Just got sent this photo from Ruby Alaska as s...       1
...      ...                                                ...     ...
7608     NaN  Two giant cranes holding a bridge collapse int...       1
7609     NaN  ariaahrary TheTawniest The out of control wild...       1
7610     NaN  M194 0104 UTC5km S of Volcano Hawaii httptcozD...       1
7611     NaN  Police investigating after an ebike collided w...       1
7612     NaN  The Latest More Homes Razed by Northern Califo...       1

[7613 rows x 3 columns]

In [17]:
def tokenizer(text):
  tokens = re.split('\W+',text)
  return tokens

In [18]:
df['text'] = df['text'].apply(lambda x:tokenizer(x))

In [19]:
df

     keyword                                               text  target
0        NaN  [Our, Deeds, are, the, Reason, of, this, earth...       1
1        NaN      [Forest, fire, near, La, Ronge, Sask, Canada]       1
2        NaN  [All, residents, asked, to, shelter, in, place...       1
3        NaN  [13000, people, receive, wildfires, evacuation...       1
4        NaN  [Just, got, sent, this, photo, from, Ruby, Ala...       1
...      ...                                                ...     ...
7608     NaN  [Two, giant, cranes, holding, a, bridge, colla...       1
7609     NaN  [ariaahrary, TheTawniest, The, out, of, contro...       1
7610     NaN  [M194, 0104, UTC5km, S, of, Volcano, Hawaii, h...       1
7611     NaN  [Police, investigating, after, an, ebike, coll...       1
7612     NaN  [The, Latest, More, Homes, Razed, by, Northern...       1

[7613 rows x 3 columns]

In [20]:
nltk.download('stopwords')
x = nltk.corpus.stopwords.words('english')
x[0:32]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them']

In [21]:
def ommiting_stopwords(a):
  y = [z for z in a if z not in x]
  return y

In [22]:
df['text'] = df['text'].apply(lambda x: ommiting_stopwords(x))

In [23]:
df

     keyword                                               text  target
0        NaN  [Our, Deeds, Reason, earthquake, May, ALLAH, F...       1
1        NaN      [Forest, fire, near, La, Ronge, Sask, Canada]       1
2        NaN  [All, residents, asked, shelter, place, notifi...       1
3        NaN  [13000, people, receive, wildfires, evacuation...       1
4        NaN  [Just, got, sent, photo, Ruby, Alaska, smoke, ...       1
...      ...                                                ...     ...
7608     NaN  [Two, giant, cranes, holding, bridge, collapse...       1
7609     NaN  [ariaahrary, TheTawniest, The, control, wild, ...       1
7610     NaN  [M194, 0104, UTC5km, S, Volcano, Hawaii, httpt...       1
7611     NaN  [Police, investigating, ebike, collided, car, ...       1
7612     NaN  [The, Latest, More, Homes, Razed, Northern, Ca...       1

[7613 rows x 3 columns]

In [24]:
lematizer = WordNetLemmatizer()
nltk.download('wordnet')
def lematize(x):
  lt = [lematizer.lemmatize(word) for word in x]
  return lt

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [25]:
df['text']= df['text'].apply(lambda x:lematize(x))

In [26]:
df

     keyword                                               text  target
0        NaN  [Our, Deeds, Reason, earthquake, May, ALLAH, F...       1
1        NaN      [Forest, fire, near, La, Ronge, Sask, Canada]       1
2        NaN  [All, resident, asked, shelter, place, notifie...       1
3        NaN  [13000, people, receive, wildfire, evacuation,...       1
4        NaN  [Just, got, sent, photo, Ruby, Alaska, smoke, ...       1
...      ...                                                ...     ...
7608     NaN  [Two, giant, crane, holding, bridge, collapse,...       1
7609     NaN  [ariaahrary, TheTawniest, The, control, wild, ...       1
7610     NaN  [M194, 0104, UTC5km, S, Volcano, Hawaii, httpt...       1
7611     NaN  [Police, investigating, ebike, collided, car, ...       1
7612     NaN  [The, Latest, More, Homes, Razed, Northern, Ca...       1

[7613 rows x 3 columns]

# LSTM Model

In [27]:
# Importing required libraries
import nltk
import pandas as pd
from nltk.corpus import stopwords
from textblob import Word
from sklearn.preprocessing import LabelEncoder
from collections import Counter
import wordcloud
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt

In [28]:
# Encoded the target column
lb=LabelEncoder()
df['target'] = lb.fit_transform(df['target'])

In [29]:
tokenizer = Tokenizer(num_words=500, split=' ') 
tokenizer.fit_on_texts(df['text'].values)
X = tokenizer.texts_to_sequences(df['text'].values)
X = pad_sequences(X)

In [30]:
model = Sequential()
model.add(Embedding(500, 120, input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(176, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam', metrics = ['accuracy'])
print(model.summary())

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 18, 120)           60000

 spatial_dropout1d (SpatialD  (None, 18, 120)          0
 ropout1D)

 lstm (LSTM)                 (None, 176)               209088

 dense (Dense)               (None, 2)                 354

=================================================================
Total params: 269,442
Trainable params: 269,442
Non-trainable params: 0
_________________________________________________________________
None

In [31]:
y=pd.get_dummies(df['target'])
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [36]:
from tensorflow.keras.callbacks import ModelCheckpoint
import tensorflow as tf

In [37]:
acc_checkpoint= tf.keras.callbacks.ModelCheckpoint(
    ('/content/drive/MyDrive/Best /sentiment_analysis.h5'),
    monitor="val_loss",
    verbose=0,
    save_best_only=False,
    save_weights_only=False,
    mode="auto",
    save_freq="epoch",
    options=None
)

In [38]:
batch_size=32
model.fit(X_train, y_train, epochs = 80, callbacks=[acc_checkpoint] ,batch_size=batch_size, verbose = 'auto')

Epoch 1/80
167/167 [==============================] - 26s 155ms/step - loss: 0.4656 - accuracy: 0.7859
Epoch 2/80
167/167 [==============================] - 24s 145ms/step - loss: 0.4383 - accuracy: 0.7926
Epoch 3/80
167/167 [==============================] - 24s 146ms/step - loss: 0.4326 - accuracy: 0.7968
Epoch 4/80
167/167 [==============================] - 27s 161ms/step - loss: 0.4203 - accuracy: 0.8084
Epoch 5/80
167/167 [==============================] - 24s 146ms/step - loss: 0.4067 - accuracy: 0.8150
Epoch 6/80
167/167 [==============================] - 24s 145ms/step - loss: 0.3924 - accuracy: 0.8195
Epoch 7/80
167/167 [==============================] - 25s 152ms/step - loss: 0.3879 - accuracy: 0.8221
Epoch 8/80
167/167 [==============================] - 25s 148ms/step - loss: 0.3769 - accuracy: 0.8290
Epoch 9/80
167/167 [==============================] - 25s 148ms/step - loss: 0.3624 - accuracy: 0.8347
Epoch 10/80
167/167 [==============================] - 24s 144ms/step - loss: 0.3525 - accuracy: 0.8351
Epoch 11/80
167/167 [==============================] - 24s 144ms/step - loss: 0.3421 - accuracy: 0.8403
Epoch 12/80
167/167 [==============================] - 24s 145ms/step - loss: 0.3334 - accuracy: 0.8476
Epoch 13/80
167/167 [==============================] - 24s 143ms/step - loss: 0.3216 - accuracy: 0.8510
Epoch 14/80
167/167 [==============================] - 24s 144ms/step - loss: 0.3175 - accuracy: 0.8568
Epoch 15/80
167/167 [==============================] - 24s 141ms/step - loss: 0.3119 - accuracy: 0.8501
Epoch 16/80
167/167 [==============================] - 24s 144ms/step - loss: 0.2952 - accuracy: 0.8655
Epoch 17/80
167/167 [==============================] - 24s 143ms/step - loss: 0.2841 - accuracy: 0.8722
Epoch 18/80
167/167 [==============================] - 24s 145ms/step - loss: 0.2850 - accuracy: 0.8662
Epoch 19/80
167/167 [==============================] - 24s 141ms/step - loss: 0.2761 - accuracy: 0.8756
Epoch 20/80
167/167 [==============================] - 24s 142ms/step - loss: 0.2655 - accuracy: 0.8818
Epoch 21/80
167/167 [==============================] - 24s 144ms/step - loss: 0.2505 - accuracy: 0.8859
Epoch 22/80
167/167 [==============================] - 24s 143ms/step - loss: 0.2379 - accuracy: 0.8953
Epoch 23/80
167/167 [==============================] - 24s 144ms/step - loss: 0.2416 - accuracy: 0.8927
Epoch 24/80
167/167 [==============================] - 24s 143ms/step - loss: 0.2298 - accuracy: 0.8974
Epoch 25/80
167/167 [==============================] - 24s 143ms/step - loss: 0.2324 - accuracy: 0.8949
Epoch 26/80
167/167 [==============================] - 24s 142ms/step - loss: 0.2093 - accuracy: 0.9060
Epoch 27/80
167/167 [==============================] - 23s 141ms/step - loss: 0.2049 - accuracy: 0.9064
Epoch 28/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1987 - accuracy: 0.9150
Epoch 29/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1973 - accuracy: 0.9148
Epoch 30/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1897 - accuracy: 0.9161
Epoch 31/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1917 - accuracy: 0.9189
Epoch 32/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1799 - accuracy: 0.9234
Epoch 33/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1817 - accuracy: 0.9223
Epoch 34/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1773 - accuracy: 0.9231
Epoch 35/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1685 - accuracy: 0.9298
Epoch 36/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1569 - accuracy: 0.9304
Epoch 37/80
167/167 [==============================] - 23s 140ms/step - loss: 0.1625 - accuracy: 0.9317
Epoch 38/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1533 - accuracy: 0.9330
Epoch 39/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1610 - accuracy: 0.9287
Epoch 40/80
167/167 [==============================] - 24s 140ms/step - loss: 0.1595 - accuracy: 0.9285
Epoch 41/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1546 - accuracy: 0.9330
Epoch 42/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1542 - accuracy: 0.9343
Epoch 43/80
167/167 [==============================] - 24s 141ms/step - loss: 0.1442 - accuracy: 0.9409
Epoch 44/80
167/167 [==============================] - 23s 140ms/step - loss: 0.1449 - accuracy: 0.9384
Epoch 45/80
167/167 [==============================] - 24s 141ms/step - loss: 0.1373 - accuracy: 0.9407
Epoch 46/80
167/167 [==============================] - 23s 140ms/step - loss: 0.1442 - accuracy: 0.9360
Epoch 47/80
167/167 [==============================] - 23s 139ms/step - loss: 0.1366 - accuracy: 0.9416
Epoch 48/80
167/167 [==============================] - 24s 145ms/step - loss: 0.1375 - accuracy: 0.9422
Epoch 49/80
167/167 [==============================] - 25s 151ms/step - loss: 0.1375 - accuracy: 0.9416
Epoch 50/80
167/167 [==============================] - 25s 152ms/step - loss: 0.1358 - accuracy: 0.9458
Epoch 51/80
167/167 [==============================] - 25s 148ms/step - loss: 0.1294 - accuracy: 0.9430
Epoch 52/80
167/167 [==============================] - 25s 150ms/step - loss: 0.1266 - accuracy: 0.9458
Epoch 53/80
167/167 [==============================] - 25s 150ms/step - loss: 0.1299 - accuracy: 0.9424
Epoch 54/80
167/167 [==============================] - 25s 147ms/step - loss: 0.1263 - accuracy: 0.9471
Epoch 55/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1247 - accuracy: 0.9471
Epoch 56/80
167/167 [==============================] - 24s 145ms/step - loss: 0.1210 - accuracy: 0.9461
Epoch 57/80
167/167 [==============================] - 24s 145ms/step - loss: 0.1238 - accuracy: 0.9456
Epoch 58/80
167/167 [==============================] - 24s 146ms/step - loss: 0.1226 - accuracy: 0.9495
Epoch 59/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1229 - accuracy: 0.9471
Epoch 60/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1187 - accuracy: 0.9490
Epoch 61/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1231 - accuracy: 0.9488
Epoch 62/80
167/167 [==============================] - 24s 145ms/step - loss: 0.1140 - accuracy: 0.9523
Epoch 63/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1156 - accuracy: 0.9527
Epoch 64/80
167/167 [==============================] - 25s 147ms/step - loss: 0.1161 - accuracy: 0.9476
Epoch 65/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1086 - accuracy: 0.9523
Epoch 66/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1146 - accuracy: 0.9491
Epoch 67/80
167/167 [==============================] - 24s 141ms/step - loss: 0.1164 - accuracy: 0.9523
Epoch 68/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1160 - accuracy: 0.9527
Epoch 69/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1102 - accuracy: 0.9518
Epoch 70/80
167/167 [==============================] - 24s 144ms/step - loss: 0.1140 - accuracy: 0.9501
Epoch 71/80
167/167 [==============================] - 24s 145ms/step - loss: 0.1138 - accuracy: 0.9491
Epoch 72/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1104 - accuracy: 0.9548
Epoch 73/80
167/167 [==============================] - 24s 141ms/step - loss: 0.1077 - accuracy: 0.9521
Epoch 74/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1047 - accuracy: 0.9546
Epoch 75/80
167/167 [==============================] - 23s 140ms/step - loss: 0.1029 - accuracy: 0.9550
Epoch 76/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1094 - accuracy: 0.9540
Epoch 77/80
167/167 [==============================] - 24s 143ms/step - loss: 0.1069 - accuracy: 0.9531
Epoch 78/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1018 - accuracy: 0.9546
Epoch 79/80
167/167 [==============================] - 24s 142ms/step - loss: 0.1026 - accuracy: 0.9559
Epoch 80/80
167/167 [==============================] - 23s 140ms/step - loss: 0.0974 - accuracy: 0.9553